/.gradle
*/bin/
*/build/
*/.gradle
*/.settings
*/.classpath
*/.project
*.log
*.out
*.idea
*.bak
/logs/
/resources
/.metadata/
gradlew
*.iml
.DS_Store
*.hprof
gradle.properties
/.project
/bin
*.classpath
*.settings
